/* variables */
:root {
    --base: hsl(240, 58%, 5%);
    --interface: hsl(240, 47%, 10%);
    --overlay: hsl(240, 39%, 14%);
    --orange: hsl(30, 70%, 55%);
    --text: hsl(240, 17%, 98%);
    --text-2: hsl(240, 4%, 69%);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base */
body {
    background-color: var(--base);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
}
.heading {
    font-size: 1.3rem;
    font-weight: 600;
}
.paragraph {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-2);
}

/* card */
.card {
    height: 18rem;
    width: 18rem;
    background-color: var(--interface);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

/* ratings state section style */
.star-icon {
    background-color: var(--overlay);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.star-icon > svg {
    height: 100%;
    width: 100%;
    padding: .6rem;
    fill: var(--orange);
}
.rating-numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating-numbers > .rating-number {
    background-color: var(--overlay);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: .8rem;
    color: var(--text-2);
    cursor: pointer;
    transition: all .2s ease-in;
}
.rating-numbers > .rating-number:hover {
    background-color: var(--base);
    color: var(--text);
}
.rating-number.selected {
    background-color: var(--orange);
    color: var(--text);
}
.btn {
    width: 100%;
    padding: .5rem;
    background-color: var(--orange);
    color: var(--text);
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border: .1rem solid var(--orange);
    border-radius: 1rem;
    outline: none;
    transition: all .2s ease-in;
}
.btn:hover {
    background-color: var(--text);
    color: var(--orange);
    border-color: var(--text);
    cursor: pointer;
}

/* rated state section style */
.rated-state {
    align-items: center;
    text-align: center;
}
.sparks-icon {
    height: 5rem;
    width: 5rem;
    display: grid;
    place-items: center;
}
.sparks-icon svg {
    width: 100%;
    height: 100%;
    fill: var(--orange);
}
#rated-value {
    padding: .5rem 1rem;
    background-color: var(--base);
    color: var(--orange);
    border-radius: 1rem;
}

/* hidden display style */
.hidden {
    display: none;
}

/* media query */
@media screen and (min-width: 640px) {
    .card {
        height: 20rem;
        width: 20rem;
        padding: 1.5rem;
    }
}
